*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    justify-content:center;
    height:100vh;
    overflow:hidden;
}
h1{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:4rem;
    padding:100px 75px;
    background:rgba(255,255,255,0.5);
    border:1px solid white;
    border-radius: 40px;
    backdrop-filter: blur(20px);
    color:#000;
}
button{
    width:50%;
    border:none;
    font-size:2.5rem;
    cursor: pointer;
    transition: all 0.3s;
}
#confirm{
    background-color:#d5e68d;
}
#confirm:hover{
    background-color:#13290a;
    color:#fff;
}
#cancel{
    background-color:#e21a1a66;
}
#cancel:hover{
    background-color:#6b0504;
    color:#fff;
}