@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
h1 {
  font-size: 4rem;
  padding: 100px 75px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border-radius: 40px;
  backdrop-filter: blur(20px);
  color: #000;
  display: none;
}
button {
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  width: 50%;
  height: 100%;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  background-color: #da945f;
  transition: all 0.3s;
}
button.disabled {
  pointer-events: none;
}
#confirm {
  left: 0;
  /* background-color: #d5e68d; */
}
#confirm:hover {
  background-color: #d5e68d;
}
#cancel {
  right: 0;
}
#cancel:hover {
  background-color: #e21a1a66;
}
.face {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display:none; */
}
.eyes {
  display: flex;
  justify-content: space-between;
}
.eyes div {
  border-top: none;
  margin: 30px 20px;
  background-color: #151843;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.mouth {
  height: 5px;
  width: 50px;

  background-color: #151843;
  transition: 0.3s;
}
.face.happy .mouth {
  border: 5px solid #151843;
  border-top: none;
  border-radius: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: mouth 1s ease infinite alternate;
}
#cancel .mouth {
  transform: rotate(180deg);
}
@keyframes mouth {
  from {
    width: 30px;
    height: 30px;
  }
  to {
    width: 40px;
    height: 40px;
  }
}
